/****************************************************************************
 * container.css
 *
 * Requires:
 *  normalize.css
 *
 ****************************************************************************/

.container
{
    width: 940px;
}


.container
{
    margin-right: auto;
    margin-left: auto;
}

.container:before,
.container:after
{
    display: table;
    line-height: 0;
    content: "";
}

.container:after
{
    clear: both;
}