/****************************************************************************
 * page-header.css
 *
 * Requires:
 *  normalize.css
 *  typograhpy.css
 *
 ****************************************************************************/

.page-header
{
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}
